Makefile.in
Makefile
/aclocal.m4
/compile
/config.guess
/config.h.in
/config.sub
/config.h
/config.log
/config.status
/stamp-h1
/configure
/depcomp
/install-sh
/missing
/autom4te.cache/
.svn/
*.o
*.a
*.opk
nbproject/
/src/dosbox
/src/gdbinit
/src/readme*.txt
