[Desktop Entry]
Name=DOSBox-OD
Comment=DOS emulator of OpenDingux
Exec=dosbox.sh %f
Terminal=false
Type=Application
MimeType=application/x-dosexec;text/x-msdos-batch;
StartupNotify=true
Icon=dosbox
Categories=emulators;
X-OD-NeedsDownscaling=true
