[Desktop Entry]
Name=DosBox-OD-Conf
Comment=DOS emulator of OpenDingux (Configuration)
Exec=dosbox -exit -userconf -conf %f
Terminal=false
Type=Application
StartupNotify=true
Icon=dosbox
Categories=emulators;
X-OD-Filter=.conf
X-OD-NeedsDownscaling=true
